.sobremim {
    margin-bottom: 140px;
}
.sobremim h2 {
    font-size: 35px;
}
.sobremim p {
    font-size: 20px;
    text-align: start;
    margin-top: 40px;
    margin-left: 60px;
}
.formacao-text {
    margin-top: 60px;
}
.formacao-text .formacao-content span {
    color: #52F085;
}
@media (max-width: 600px) {
    .sobremim {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .sobremim p {
        font-size: 16px;
        margin-top: 40px;
        margin-left: 0;
    }
}